.card-body {
  .ReactTable {
    border: none;

    .rt-thead {
      &.-header{
        box-shadow: none;
      }

      .rt-th {
        text-align: left;
        color: black;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;

        &.-cursor-pointer {
          &.-sort-asc {
            box-shadow: none;
            >div:first-of-type {
              &:before {
                opacity: 1;
              }
            }
          }
          &.-sort-desc {
            box-shadow: none;
            >div:first-of-type {
              &:after {
                opacity: 1;
              }
            }
          }
          >div:first-of-type {
            &:before {
              right: 1em;
              content: "\2191";
              position: absolute;
              display: block;
              opacity: 0.3;
            }

            &:after {
              right: 0.5em;
              content: "\2193";
              top: 0.4em;
              position: absolute;
              display: block;
              opacity: 0.3;
            }
          }
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    .rt-tbody {
      .rt-tr-group .rt-tr .rt-td {
        padding: 12px 7px;
      }
    }

    .pagination-bottom {
      padding: 50px;
      .-pagination {
        border-top: none;
        .-btn {
          color: white;
          background: #5e72e4;
        }
      }
    }

  }
}
